<%= form_for @articulo do |f| %>
    <% if @articulo.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@articulo.errors.count, "error") %> Han impedido que el articulo sea grabado:
            </h2>
            <ul>
                <% @articulo.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :titular %><br>
        <%= f.text_field :titular %>
    </p>

    <p>
        <%= f.label :contenido %><br>
        <%= f.text_area :contenido %>
    </p>

    <p>
        <%= f.submit "Guardar Articulo" %>
    </p>
<% end %>
